<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ActiveInfoMapper">
	<resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.ActiveInfo">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="active_position" property="activePosition" jdbcType="INTEGER" />
		<result column="product_id" property="productId" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="last_modify_name" property="lastModifyName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>
		<if test="activePosition != null"> and active_position= #{activePosition}</if>
		<if test="productId != null"> and product_id= #{productId}</if>
		<if test="createTime != null"> and create_time= #{createTime}</if>
		<if test="lastModifyTime != null"> and last_modify_time= #{lastModifyTime}</if>
		<if test="creator != null and creator !=''"> and creator= #{creator}</if>
		<if test="lastModifyName != null and lastModifyName !=''"> and last_modify_name= #{lastModifyName}</if>
	</sql>
	<sql id="Base_Column_List">
		id ,
		active_position ,
		product_id ,
		create_time ,
		last_modify_time ,
		creator ,
		last_modify_name
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from active_info
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from active_info
		where
		id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.consumer.user.model.ActiveInfo">
		insert into active_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="activePosition != null">active_position,</if>
			<if test="productId != null">product_id,</if>
			<if test="createTime != null">create_time,</if>
			<if test="lastModifyTime != null">last_modify_time,</if>
			<if test="creator != null and creator !=''">creator,</if>
			<if test="lastModifyName != null and lastModifyName !=''">last_modify_name,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="activePosition != null">
				#{activePosition,jdbcType=INTEGER},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				#{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creator != null and creator !=''">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="lastModifyName != null and lastModifyName !=''">
				#{lastModifyName,jdbcType=VARCHAR},
			</if>

		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.ActiveInfo">
		update active_info
		<set>
			<if test="activePosition != null">
				active_position= #{activePosition,jdbcType=INTEGER},
			</if>
			<if test="productId != null">
				product_id= #{productId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time= #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				last_modify_time= #{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creator != null and creator !=''">
				creator= #{creator,jdbcType=VARCHAR},
			</if>
			<if test="lastModifyName != null and lastModifyName !=''">
				last_modify_name= #{lastModifyName,jdbcType=VARCHAR}
			</if>
		</set>
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from active_info where 1=1
		<include refid="Base_Where" />
		ORDER BY
		create_time DESC
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from active_info where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from active_info where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from active_info where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>




	<select id="getActiveInfoByPosition" resultMap="BaseResultMap" parameterType="map" >
		SELECT
		<include refid="Base_Column_List" />
		FROM
		active_info
		WHERE 1=1
		<include refid="Base_Where" />
		ORDER BY
		create_time DESC
		LIMIT #{start},#{limit}
	</select>


</mapper>
