<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BindPhonenumberMapper">
	<resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.BindPhonenumber">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="region" property="region" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="open_id" property="openId" jdbcType="LONGVARCHAR" />
		<result column="bind_type" property="bindType" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>
		<if test="userId != null"> and user_id= #{userId}</if>
		<if test="region != null and region !=''"> and region= #{region}</if>
		<if test="mobile != null and mobile !=''"> and mobile= #{mobile}</if>
		<if test="openId != null and openId !=''"> and open_id= #{openId}</if>
		<if test="bindType != null"> and bind_type= #{bindType}</if>	
		<if test="createTime != null"> and create_time= #{createTime}</if>	
		<if test="lastModifyTime != null"> and last_modify_time= #{lastModifyTime}</if>	
	</sql>
	<sql id="Base_Column_List">
		id ,
		region,
		mobile ,
		user_id,
		open_id ,
		bind_type ,
		create_time ,
		last_modify_time 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from bind_phonenumber
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from bind_phonenumber
		where
		id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.consumer.user.model.BindPhonenumber">
		insert into bind_phonenumber
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>	
			<if test="userId != null">user_id,</if>
			<if test="region != null and region !=''">region,</if>
			<if test="mobile != null and mobile !=''">mobile,</if>
			<if test="openId != null and openId !=''">open_id,</if>
			<if test="bindType != null">bind_type,</if>	
			<if test="createTime != null">create_time,</if>	
			<if test="lastModifyTime != null">last_modify_time,</if>	
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="region != null and region !=''">
				#{region,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null and mobile !=''">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="openId != null and openId !=''">
				#{openId,jdbcType=LONGVARCHAR},
			</if>
			<if test="bindType != null">
				#{bindType,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				#{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.BindPhonenumber">
		update bind_phonenumber
		<set>
			<if test="region != null and region !=''">
				region= #{region,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null and mobile !=''">
				mobile= #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id= #{userId,jdbcType=BIGINT},
			</if>
			<if test="openId != null and openId !=''">
				open_id= #{openId,jdbcType=LONGVARCHAR},
			</if>
			<if test="bindType != null">
				bind_type= #{bindType,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				create_time= #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				last_modify_time= #{lastModifyTime,jdbcType=TIMESTAMP}
			</if>
		</set>
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from bind_phonenumber where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from bind_phonenumber where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from bind_phonenumber where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from bind_phonenumber where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>
