<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CommonContactsMapper">
	<resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.CommonContacts">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="contacts_name" property="contactsName" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="INTEGER" />
		<result column="family_name" property="familyName" jdbcType="VARCHAR" />
		<result column="first_name" property="firstName" jdbcType="VARCHAR" />
		<result column="is_children" property="isChildren" jdbcType="INTEGER" />
		<result column="date_of_birth" property="dateOfBirth" jdbcType="TIMESTAMP" />
		<result column="is_oneself" property="isOneself" jdbcType="INTEGER" />
		<result column="nationality" property="nationality" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
		<result column="phone_prefix" property="phonePrefix" jdbcType="VARCHAR" />
	    <result column="phone_country_name" property="phoneCountryName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>	
		<if test="contactsName != null and contactsName !=''"> and contacts_name= #{contactsName}</if>
		<if test="phone != null and phone !=''"> and phone= #{phone}</if>
		<if test="gender != null"> and gender= #{gender}</if>	
		<if test="familyName != null and familyName !=''"> and family_name= #{familyName}</if>
		<if test="firstName != null and firstName !=''"> and first_name= #{firstName}</if>
		<if test="isChildren != null"> and is_children= #{isChildren}</if>	
		<if test="dateOfBirth != null"> and date_of_birth= #{dateOfBirth}</if>	
		<if test="isOneself != null"> and is_oneself= #{isOneself}</if>	
		<if test="nationality != null and nationality !=''"> and nationality= #{nationality}</if>
		<if test="email != null and email !=''"> and email= #{email}</if>
		<if test="userId != null"> and user_id= #{userId}</if>	
		<if test="createTime != null"> and create_time= #{createTime}</if>	
		<if test="lastModifyTime != null"> and last_modify_time= #{lastModifyTime}</if>	
		<if test="isDelete != null"> and is_delete= #{isDelete}</if>
		<if test="phonePrefix != null and phonePrefix !=''"> and phone_prefix= #{phonePrefix}</if>
		<if test="phoneCountryName != null and phoneCountryName !=''"> and phone_country_name= #{phoneCountryName}</if>	
	</sql>
	<sql id="Base_Column_List">
		id ,
		contacts_name ,
		phone ,
		gender ,
		family_name ,
		first_name ,
		is_children ,
		date_of_birth ,
		is_oneself ,
		nationality ,
		email ,
		user_id ,
		create_time ,
		last_modify_time ,
		is_delete,
		phone_prefix ,
		phone_country_name  
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from common_contacts
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from common_contacts
		where
		id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.consumer.user.model.CommonContacts" useGeneratedKeys="true" keyProperty="id">
		insert into common_contacts
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>	
			<if test="contactsName != null and contactsName !=''">contacts_name,</if>
			<if test="phone != null and phone !=''">phone,</if>
			<if test="gender != null">gender,</if>	
			<if test="familyName != null and familyName !=''">family_name,</if>
			<if test="firstName != null and firstName !=''">first_name,</if>
			<if test="isChildren != null">is_children,</if>	
			<if test="dateOfBirth != null">date_of_birth,</if>	
			<if test="isOneself != null">is_oneself,</if>	
			<if test="nationality != null and nationality !=''">nationality,</if>
			<if test="email != null and email !=''">email,</if>
			<if test="userId != null">user_id,</if>	
			<if test="createTime != null">create_time,</if>	
			<if test="lastModifyTime != null">last_modify_time,</if>	
			<if test="isDelete != null">is_delete,</if>	
			<if test="phonePrefix != null and phonePrefix !=''">phone_prefix,</if>
			<if test="phoneCountryName != null and phoneCountryName !=''">phone_country_name,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="contactsName != null and contactsName !=''">
				#{contactsName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null and phone !=''">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				#{gender,jdbcType=INTEGER},
			</if>
			<if test="familyName != null and familyName !=''">
				#{familyName,jdbcType=VARCHAR},
			</if>
			<if test="firstName != null and firstName !=''">
				#{firstName,jdbcType=VARCHAR},
			</if>
			<if test="isChildren != null">
				#{isChildren,jdbcType=INTEGER},
			</if>
			<if test="dateOfBirth != null">
				#{dateOfBirth,jdbcType=TIMESTAMP},
			</if>
			<if test="isOneself != null">
				#{isOneself,jdbcType=INTEGER},
			</if>
			<if test="nationality != null and nationality !=''">
				#{nationality,jdbcType=VARCHAR},
			</if>
			<if test="email != null and email !=''">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				#{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
			<if test="phonePrefix != null and phonePrefix !=''">
				#{phonePrefix,jdbcType=VARCHAR},
			</if>
			<if test="phoneCountryName != null and phoneCountryName !=''">
				#{phoneCountryName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.CommonContacts">
		update common_contacts
		<set>
			<if test="contactsName != null and contactsName !=''">
				contacts_name= #{contactsName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null and phone !=''">
				phone= #{phone,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				gender= #{gender,jdbcType=INTEGER},
			</if>
			<if test="familyName != null and familyName !=''">
				family_name= #{familyName,jdbcType=VARCHAR},
			</if>
			<if test="firstName != null and firstName !=''">
				first_name= #{firstName,jdbcType=VARCHAR},
			</if>
			<if test="isChildren != null">
				is_children= #{isChildren,jdbcType=INTEGER},
			</if>
			<if test="dateOfBirth != null">
				date_of_birth= #{dateOfBirth,jdbcType=TIMESTAMP},
			</if>
			<if test="isOneself != null">
				is_oneself= #{isOneself,jdbcType=INTEGER},
			</if>
			<if test="nationality != null and nationality !=''">
				nationality= #{nationality,jdbcType=VARCHAR},
			</if>
			<if test="email != null and email !=''">
				email= #{email,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id= #{userId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time= #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				last_modify_time= #{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				is_delete= #{isDelete,jdbcType=INTEGER},
			</if>
			<if test="phonePrefix != null and phonePrefix !=''">
				phone_prefix= #{phonePrefix,jdbcType=VARCHAR},
			</if>
			<if test="phoneCountryName != null and phoneCountryName !=''">
				phone_country_name= #{phoneCountryName,jdbcType=VARCHAR},
			</if>
			<if test="emailCopy != null and emailCopy !=''">
				email= #{email,jdbcType=VARCHAR},
			</if>
			
		</set>
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from common_contacts where 1=1
		<include refid="Base_Where" /> order by is_oneself asc,last_modify_time desc
	</select>
	
	
	<select id="getAllList" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from common_contacts where 1=1
		<include refid="Base_Where" /> order by last_modify_time desc limit 5
	</select>
	
	<select id="getAllListAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from common_contacts where 1=1
		<include refid="Base_Where" /> order by last_modify_time desc 
	</select>
	
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from common_contacts where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from common_contacts where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from common_contacts where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>
