<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CreditPriceRuleMapper">
	<resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.CreditPriceRule">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="business_type" property="businessType" jdbcType="INTEGER" />
		<result column="business_name" property="businessName" jdbcType="VARCHAR" />
		<result column="multiplier" property="multiplier" jdbcType="DECIMAL" />
		<result column="divisor" property="divisor" jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="deduction_percentage" property="deductionPercentage" jdbcType="DECIMAL" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>	
		<if test="businessType != null"> and business_type= #{businessType}</if>	
		<if test="businessName != null and businessName !=''"> and business_name= #{businessName}</if>
		<if test="multiplier != null"> and multiplier= #{multiplier}</if>	
		<if test="divisor != null"> and divisor= #{divisor}</if>	
		<if test="status != null"> and status= #{status}</if>	
		<if test="startTime != null"> and start_time= #{startTime}</if>	
		<if test="endTime != null"> and end_time= #{endTime}</if>	
		<if test="currentTime != null"> and start_time<![CDATA[<=]]> #{currentTime} and end_time<![CDATA[>=]]> #{currentTime}</if>
		<if test="createTime != null"> and create_time= #{createTime}</if>	
		<if test="deductionPercentage != null"> and deduction_percentage= #{deductionPercentage}</if>		
	</sql>
	<sql id="Base_Column_List">
		id ,
		business_type ,
		business_name ,
		multiplier ,
		divisor ,
		status ,
		start_time ,
		end_time ,
		create_time ,
		description ,
		deduction_percentage
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from credit_price_rule
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from credit_price_rule
		where
		id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.consumer.user.model.CreditPriceRule">
		insert into credit_price_rule
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>	
			<if test="businessType != null">business_type,</if>	
			<if test="businessName != null and businessName !=''">business_name,</if>
			<if test="multiplier != null">multiplier,</if>	
			<if test="divisor != null">divisor,</if>	
			<if test="status != null">status,</if>	
			<if test="startTime != null">start_time,</if>	
			<if test="endTime != null">end_time,</if>	
			<if test="createTime != null">create_time,</if>	
			<if test="description != null and description!=''">description,</if>
			<if test="deductionPercentage != null">deduction_percentage,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="businessType != null">
				#{businessType,jdbcType=INTEGER},
			</if>
			<if test="businessName != null and businessName !=''">
				#{businessName,jdbcType=VARCHAR},
			</if>
			<if test="multiplier != null">
				#{multiplier,jdbcType=DECIMAL},
			</if>
			<if test="divisor != null">
				#{divisor,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null and description!=''">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="deductionPercentage != null">
				#{deductionPercentage,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.CreditPriceRule">
		update credit_price_rule
		<set>
			<if test="businessType != null">
				business_type= #{businessType,jdbcType=INTEGER},
			</if>
			<if test="businessName != null and businessName !=''">
				business_name= #{businessName,jdbcType=VARCHAR},
			</if>
			<if test="multiplier != null">
				multiplier= #{multiplier,jdbcType=DECIMAL},
			</if>
			<if test="divisor != null">
				divisor= #{divisor,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				status= #{status,jdbcType=INTEGER},
			</if>
			<if test="startTime != null">
				start_time= #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				end_time= #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time= #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				description= #{description,jdbcType=VARCHAR},
			</if>
			<if test="deductionPercentage != null">
				deduction_percentage= #{deductionPercentage,jdbcType=DECIMAL}
			</if>
		</set>
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from credit_price_rule where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from credit_price_rule where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from credit_price_rule where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from credit_price_rule where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>
