<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CreditPromotionRuleMapper">
	<resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.CreditPromotionRule">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="start_date" property="startDate" jdbcType="DATE" />
		<result column="end_date" property="endDate" jdbcType="DATE" />
		<result column="task_type" property="taskType" jdbcType="INTEGER" />
		<result column="cal_rule" property="calRule" jdbcType="DOUBLE" />
		<result column="cal_type" property="calType" jdbcType="INTEGER" />
		<result column="promotion_des" property="promotionDes" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>	
		<if test="startDate != null"> and start_date<![CDATA[<=]]> #{startDate}</if>	
		<if test="endDate != null"> and end_date<![CDATA[>=]]> #{endDate}</if>	
		<if test="taskType != null"> and task_type= #{taskType}</if>	
		<if test="calRule != null"> and cal_rule= #{calRule}</if>	
		<if test="calType != null"> and cal_type= #{calType}</if>	
		<if test="promotionDes != null and promotionDes !=''"> and promotion_des= #{promotionDes}</if>
		<if test="status != null"> and status= #{status}</if>	
		<if test="createTime != null"> and create_time= #{createTime}</if>	
		<if test="createUserId != null"> and create_user_id= #{createUserId}</if>	
		<if test="updateTime != null"> and update_time= #{updateTime}</if>	
		<if test="updateUserId != null"> and update_user_id= #{updateUserId}</if>	
	</sql>
	<sql id="Base_Column_List">
		id ,
		start_date ,
		end_date ,
		task_type ,
		cal_rule ,
		cal_type ,
		promotion_des ,
		status ,
		create_time ,
		create_user_id ,
		update_time ,
		update_user_id 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from credit_promotion_rule
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from credit_promotion_rule
		where
		id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.consumer.user.model.CreditPromotionRule">
		insert into credit_promotion_rule
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>	
			<if test="startDate != null">start_date,</if>	
			<if test="endDate != null">end_date,</if>	
			<if test="taskType != null">task_type,</if>	
			<if test="calRule != null">cal_rule,</if>	
			<if test="calType != null">cal_type,</if>	
			<if test="promotionDes != null and promotionDes !=''">promotion_des,</if>
			<if test="status != null">status,</if>	
			<if test="createTime != null">create_time,</if>	
			<if test="createUserId != null">create_user_id,</if>	
			<if test="updateTime != null">update_time,</if>	
			<if test="updateUserId != null">update_user_id,</if>	
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="startDate != null">
				#{startDate,jdbcType=DATE},
			</if>
			<if test="endDate != null">
				#{endDate,jdbcType=DATE},
			</if>
			<if test="taskType != null">
				#{taskType,jdbcType=INTEGER},
			</if>
			<if test="calRule != null">
				#{calRule,jdbcType=DOUBLE},
			</if>
			<if test="calType != null">
				#{calType,jdbcType=INTEGER},
			</if>
			<if test="promotionDes != null and promotionDes !=''">
				#{promotionDes,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				#{createUserId,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				#{updateUserId,jdbcType=BIGINT},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.CreditPromotionRule">
		update credit_promotion_rule
		<set>
			<if test="startDate != null">
				start_date= #{startDate,jdbcType=DATE},
			</if>
			<if test="endDate != null">
				end_date= #{endDate,jdbcType=DATE},
			</if>
			<if test="taskType != null">
				task_type= #{taskType,jdbcType=INTEGER},
			</if>
			<if test="calRule != null">
				cal_rule= #{calRule,jdbcType=DOUBLE},
			</if>
			<if test="calType != null">
				cal_type= #{calType,jdbcType=INTEGER},
			</if>
			<if test="promotionDes != null and promotionDes !=''">
				promotion_des= #{promotionDes,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status= #{status,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time= #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				create_user_id= #{createUserId,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				update_time= #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				update_user_id= #{updateUserId,jdbcType=BIGINT}
			</if>
		</set>
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from credit_promotion_rule where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from credit_promotion_rule where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from credit_promotion_rule where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from credit_promotion_rule where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>
