<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CreditPayDetailMapper">
	<resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.CreditPayDetail">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="business_no" property="businessNo" jdbcType="VARCHAR" />
		<result column="business_type" property="businessType" jdbcType="INTEGER" />
		<result column="pay_count" property="payCount" jdbcType="BIGINT" />
		<result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
		<result column="pay_status" property="payStatus" jdbcType="INTEGER" />
		<result column="product_desc" property="productDesc" jdbcType="VARCHAR" />
		<result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>	
		<if test="userId != null"> and user_id= #{userId}</if>	
		<if test="businessNo != null and businessNo !=''"> and business_no= #{businessNo}</if>
		<if test="businessType != null"> and business_type= #{businessType}</if>	
		<if test="payCount != null"> and pay_count= #{payCount}</if>	
		<if test="payTime != null"> and pay_time= #{payTime}</if>	
		<if test="payStatus != null"> and pay_status= #{payStatus}</if>	
		<if test="productDesc != null and productDesc !=''"> and product_desc= #{productDesc}</if>
		<if test="tradeNo != null and tradeNo !=''"> and trade_no= #{tradeNo}</if>
	</sql>
	<sql id="Base_Column_List">
		id ,
		user_id ,
		business_no ,
		business_type ,
		pay_count ,
		pay_time ,
		pay_status ,
		product_desc ,
		trade_no 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from credit_pay_detail
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from credit_pay_detail
		where
		id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.consumer.user.model.CreditPayDetail">
		insert into credit_pay_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>	
			<if test="userId != null">user_id,</if>	
			<if test="businessNo != null and businessNo !=''">business_no,</if>
			<if test="businessType != null">business_type,</if>	
			<if test="payCount != null">pay_count,</if>	
			<if test="payTime != null">pay_time,</if>	
			<if test="payStatus != null">pay_status,</if>	
			<if test="productDesc != null and productDesc !=''">product_desc,</if>
			<if test="tradeNo != null and tradeNo !=''">trade_no,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="businessNo != null and businessNo !=''">
				#{businessNo,jdbcType=VARCHAR},
			</if>
			<if test="businessType != null">
				#{businessType,jdbcType=INTEGER},
			</if>
			<if test="payCount != null">
				#{payCount,jdbcType=BIGINT},
			</if>
			<if test="payTime != null">
				#{payTime,jdbcType=TIMESTAMP},
			</if>
			<if test="payStatus != null">
				#{payStatus,jdbcType=INTEGER},
			</if>
			<if test="productDesc != null and productDesc !=''">
				#{productDesc,jdbcType=VARCHAR},
			</if>
			<if test="tradeNo != null and tradeNo !=''">
				#{tradeNo,jdbcType=VARCHAR},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.CreditPayDetail">
		update credit_pay_detail
		<set>
			<if test="userId != null">
				user_id= #{userId,jdbcType=BIGINT},
			</if>
			<if test="businessNo != null and businessNo !=''">
				business_no= #{businessNo,jdbcType=VARCHAR},
			</if>
			<if test="businessType != null">
				business_type= #{businessType,jdbcType=INTEGER},
			</if>
			<if test="payCount != null">
				pay_count= #{payCount,jdbcType=BIGINT},
			</if>
			<if test="payTime != null">
				pay_time= #{payTime,jdbcType=TIMESTAMP},
			</if>
			<if test="payStatus != null">
				pay_status= #{payStatus,jdbcType=INTEGER},
			</if>
			<if test="productDesc != null and productDesc !=''">
				product_desc= #{productDesc,jdbcType=VARCHAR},
			</if>
			<if test="tradeNo != null and tradeNo !=''">
				trade_no= #{tradeNo,jdbcType=VARCHAR}
			</if>
		</set>
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from credit_pay_detail where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from credit_pay_detail where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from credit_pay_detail where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from credit_pay_detail where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<!--cms 根据订单号查询积分支付流水号 hexiaohong-->
	<select id="selectTradeNoByOrderNo" resultMap="tradeNoByOrderNoMap">
		select
		t.business_no,
		t.trade_no
		from
		credit_pay_detail t
		where 1 = 1
		<foreach collection="params" item="item" open="and (" close=")" separator=" or ">
			t.business_no = #{item}
		</foreach>
	</select>
	<resultMap id="tradeNoByOrderNoMap" type="com.hnair.consumer.user.vo.recommendation.finance.RefundOrderTradeNo">
		<result column="business_no" property="businessNo" jdbcType="VARCHAR"/>
		<result column="trade_no" property="tradeNo" jdbcType="VARCHAR"/>
	</resultMap>
</mapper>
