<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CustomServiceMapper">
	<resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.CustomService">
		<id column="custom_service_id" property="customServiceId" jdbcType="BIGINT" />
		<result column="service_type" property="serviceType" jdbcType="SMALLINT" />
		<result column="third_id" property="thirdId" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="en_name" property="enName" jdbcType="VARCHAR" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="hometown" property="hometown" jdbcType="VARCHAR" />
		<result column="photos" property="photos" jdbcType="VARCHAR" />
		<result column="head_pic" property="headPic" jdbcType="VARCHAR" />
		<result column="hobby" property="hobby" jdbcType="VARCHAR" />
		<result column="constellation" property="constellation" jdbcType="VARCHAR" />
		<result column="blood_type" property="bloodType" jdbcType="VARCHAR" />
		<result column="lucky_color" property="luckyColor" jdbcType="VARCHAR" />
		<result column="lucky_number" property="luckyNumber" jdbcType="VARCHAR" />
		<result column="motto" property="motto" jdbcType="VARCHAR" />
		<result column="secret" property="secret" jdbcType="VARCHAR" />
		<result column="cellphone" property="cellphone" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Where">
		<if test="customServiceId != null"> and custom_service_id= #{customServiceId}</if>	
		<if test="serviceType != null"> and service_type= #{serviceType}</if>	
		<if test="thirdId != null and thirdId !=''"> and third_id= #{thirdId}</if>
		<if test="name != null and name !=''"> and name= #{name}</if>
		<if test="enName != null and enName !=''"> and en_name= #{enName}</if>
		<if test="nickname != null and nickname !=''"> and nickname= #{nickname}</if>
		<if test="hometown != null and hometown !=''"> and hometown= #{hometown}</if>
		<if test="photos != null and photos !=''"> and photos= #{photos}</if>
		<if test="headPic != null and headPic !=''"> and head_pic= #{headPic}</if>
		<if test="hobby != null and hobby !=''"> and hobby= #{hobby}</if>
		<if test="constellation != null and constellation !=''"> and constellation= #{constellation}</if>
		<if test="bloodType != null and bloodType !=''"> and blood_type= #{bloodType}</if>
		<if test="luckyColor != null and luckyColor !=''"> and lucky_color= #{luckyColor}</if>
		<if test="luckyNumber != null and luckyNumber !=''"> and lucky_number= #{luckyNumber}</if>
		<if test="motto != null and motto !=''"> and motto= #{motto}</if>
		<if test="secret != null and secret !=''"> and secret= #{secret}</if>
		<if test="cellphone != null and cellphone !=''"> and cellphone= #{cellphone}</if>
		<if test="email != null and email !=''"> and email= #{email}</if>
	</sql>
	<sql id="Base_Column_List">
		custom_service_id ,
		service_type ,
		third_id ,
		name ,
		en_name ,
		nickname ,
		hometown ,
		photos ,
		head_pic ,
		hobby ,
		constellation ,
		blood_type ,
		lucky_color ,
		lucky_number ,
		motto ,
		secret ,
		cellphone ,
		email 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from custom_service
		where
		custom_service_id = #{customServiceId,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from custom_service
		where
		custom_service_id = #{customServiceId,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.consumer.user.model.CustomService">
		insert into custom_service
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="customServiceId != null">custom_service_id,</if>	
			<if test="serviceType != null">service_type,</if>	
			<if test="thirdId != null and thirdId !=''">third_id,</if>
			<if test="name != null and name !=''">name,</if>
			<if test="enName != null and enName !=''">en_name,</if>
			<if test="nickname != null and nickname !=''">nickname,</if>
			<if test="hometown != null and hometown !=''">hometown,</if>
			<if test="photos != null and photos !=''">photos,</if>
			<if test="headPic != null and headPic !=''">head_pic,</if>
			<if test="hobby != null and hobby !=''">hobby,</if>
			<if test="constellation != null and constellation !=''">constellation,</if>
			<if test="bloodType != null and bloodType !=''">blood_type,</if>
			<if test="luckyColor != null and luckyColor !=''">lucky_color,</if>
			<if test="luckyNumber != null and luckyNumber !=''">lucky_number,</if>
			<if test="motto != null and motto !=''">motto,</if>
			<if test="secret != null and secret !=''">secret,</if>
			<if test="cellphone != null and cellphone !=''">cellphone,</if>
			<if test="email != null and email !=''">email,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="customServiceId != null">
				#{customServiceId,jdbcType=BIGINT},
			</if>
			<if test="serviceType != null">
				#{serviceType,jdbcType=SMALLINT},
			</if>
			<if test="thirdId != null and thirdId !=''">
				#{thirdId,jdbcType=VARCHAR},
			</if>
			<if test="name != null and name !=''">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="enName != null and enName !=''">
				#{enName,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null and nickname !=''">
				#{nickname,jdbcType=VARCHAR},
			</if>
			<if test="hometown != null and hometown !=''">
				#{hometown,jdbcType=VARCHAR},
			</if>
			<if test="photos != null and photos !=''">
				#{photos,jdbcType=VARCHAR},
			</if>
			<if test="headPic != null and headPic !=''">
				#{headPic,jdbcType=VARCHAR},
			</if>
			<if test="hobby != null and hobby !=''">
				#{hobby,jdbcType=VARCHAR},
			</if>
			<if test="constellation != null and constellation !=''">
				#{constellation,jdbcType=VARCHAR},
			</if>
			<if test="bloodType != null and bloodType !=''">
				#{bloodType,jdbcType=VARCHAR},
			</if>
			<if test="luckyColor != null and luckyColor !=''">
				#{luckyColor,jdbcType=VARCHAR},
			</if>
			<if test="luckyNumber != null and luckyNumber !=''">
				#{luckyNumber,jdbcType=VARCHAR},
			</if>
			<if test="motto != null and motto !=''">
				#{motto,jdbcType=VARCHAR},
			</if>
			<if test="secret != null and secret !=''">
				#{secret,jdbcType=VARCHAR},
			</if>
			<if test="cellphone != null and cellphone !=''">
				#{cellphone,jdbcType=VARCHAR},
			</if>
			<if test="email != null and email !=''">
				#{email,jdbcType=VARCHAR},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.CustomService">
		update custom_service
		<set>
			<if test="serviceType != null">
				service_type= #{serviceType,jdbcType=SMALLINT},
			</if>
			<if test="thirdId != null and thirdId !=''">
				third_id= #{thirdId,jdbcType=VARCHAR},
			</if>
			<if test="name != null and name !=''">
				name= #{name,jdbcType=VARCHAR},
			</if>
			<if test="enName != null and enName !=''">
				en_name= #{enName,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null and nickname !=''">
				nickname= #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="hometown != null and hometown !=''">
				hometown= #{hometown,jdbcType=VARCHAR},
			</if>
			<if test="photos != null and photos !=''">
				photos= #{photos,jdbcType=VARCHAR},
			</if>
			<if test="headPic != null and headPic !=''">
				head_pic= #{headPic,jdbcType=VARCHAR},
			</if>
			<if test="hobby != null and hobby !=''">
				hobby= #{hobby,jdbcType=VARCHAR},
			</if>
			<if test="constellation != null and constellation !=''">
				constellation= #{constellation,jdbcType=VARCHAR},
			</if>
			<if test="bloodType != null and bloodType !=''">
				blood_type= #{bloodType,jdbcType=VARCHAR},
			</if>
			<if test="luckyColor != null and luckyColor !=''">
				lucky_color= #{luckyColor,jdbcType=VARCHAR},
			</if>
			<if test="luckyNumber != null and luckyNumber !=''">
				lucky_number= #{luckyNumber,jdbcType=VARCHAR},
			</if>
			<if test="motto != null and motto !=''">
				motto= #{motto,jdbcType=VARCHAR},
			</if>
			<if test="secret != null and secret !=''">
				secret= #{secret,jdbcType=VARCHAR},
			</if>
			<if test="cellphone != null and cellphone !=''">
				cellphone= #{cellphone,jdbcType=VARCHAR},
			</if>
			<if test="email != null and email !=''">
				email= #{email,jdbcType=VARCHAR}
			</if>
		</set>
		where
		custom_service_id = #{customServiceId,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from custom_service where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from custom_service where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from custom_service where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from custom_service where custom_service_id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>
