<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ScheduleMtsRecommendMapper">
    <resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.ScheduleMtsRecommend">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="pic" property="pic" jdbcType="VARCHAR"/>
        <result column="describe" property="describe" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Where">
        <if test="id != null">and id= #{id}</if>
        <if test="name != null and name !=''">and name= #{name}</if>
        <if test="url != null and url !=''">and url= #{url}</if>
        <if test="pic != null and pic !=''">and pic= #{pic}</if>
        <if test="describe != null and describe !=''">and 'describe'= #{describe}</if>
    </sql>
    <sql id="Base_Column_List">
		id as'id' ,
		name as 'name' ,
		url as 'url' ,
		pic as 'pic' ,
        schedule_mts_recommend.describe as 'describe'
	</sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from schedule_mts_recommend
        where
        id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from schedule_mts_recommend
		where
		id = #{id,jdbcType=INTEGER}
	</delete>

    <insert id="insertSelective" parameterType="com.hnair.consumer.user.model.ScheduleMtsRecommend">
        insert into schedule_mts_recommend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name !=''">name,</if>
            <if test="url != null and url !=''">url,</if>
            <if test="pic != null and pic !=''">pic,</if>
            <if test="describe != null and describe !=''">describe,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null and name !=''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null and url !=''">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="pic != null and pic !=''">
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="describe != null and describe !=''">
                #{describe,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.ScheduleMtsRecommend">
        update schedule_mts_recommend
        <set>
            <if test="name != null and name !=''">
                name= #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null and url !=''">
                url= #{url,jdbcType=VARCHAR},
            </if>
            <if test="pic != null and pic !=''">
                pic= #{pic,jdbcType=VARCHAR},
            </if>
            <if test="describe != null and describe !=''">
                describe= #{describe,jdbcType=VARCHAR}
            </if>
        </set>
        where
        id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from schedule_mts_recommend where 1=1
        <include refid="Base_Where"/>
    </select>
    <select id="pageCount" resultType="java.lang.Integer" parameterType="map">
        select count(1) from schedule_mts_recommend where 1=1
        <include refid="Base_Where"/>
    </select>
    <select id="pageData" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from schedule_mts_recommend where 1=1
        <include refid="Base_Where"/>
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from schedule_mts_recommend where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
