<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SignInAwardRuleMapper">
	<resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.SignInAwardRule">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="sign_in_active_id" property="signInActiveId" jdbcType="BIGINT" />
		<result column="sign_in_days" property="signInDays" jdbcType="INTEGER" />
		<result column="award_integral" property="awardIntegral" jdbcType="INTEGER" />
		<result column="special_award_type" property="specialAwardType" jdbcType="INTEGER" />
		<result column="lucky_draw_id" property="luckyDrawId" jdbcType="BIGINT" />
		<result column="coupon_scheme_id" property="couponSchemeId" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>	
		<if test="signInActiveId != null"> and sign_in_active_id= #{signInActiveId}</if>	
		<if test="signInDays != null"> and sign_in_days= #{signInDays}</if>	
		<if test="awardIntegral != null"> and award_integral= #{awardIntegral}</if>	
		<if test="specialAwardType != null"> and special_award_type= #{specialAwardType}</if>	
		<if test="luckyDrawId != null"> and lucky_draw_id= #{luckyDrawId}</if>	
		<if test="couponSchemeId != null"> and coupon_scheme_id= #{couponSchemeId}</if>	
	</sql>
	<sql id="Base_Column_List">
		id ,
		sign_in_active_id ,
		sign_in_days ,
		award_integral ,
		special_award_type ,
		lucky_draw_id ,
		coupon_scheme_id 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sign_in_award_rule
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from sign_in_award_rule
		where
		id = #{id,jdbcType=BIGINT}
	</delete>
	
	<delete id="deleteBySignInActiveId" parameterType="java.lang.Long">
		delete from sign_in_award_rule
		where
		sign_in_active_id = #{signInActiveId,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.consumer.user.model.SignInAwardRule">
		insert into sign_in_award_rule
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>	
			<if test="signInActiveId != null">sign_in_active_id,</if>	
			<if test="signInDays != null">sign_in_days,</if>	
			<if test="awardIntegral != null">award_integral,</if>	
			<if test="specialAwardType != null">special_award_type,</if>	
			<if test="luckyDrawId != null">lucky_draw_id,</if>	
			<if test="couponSchemeId != null">coupon_scheme_id,</if>	
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="signInActiveId != null">
				#{signInActiveId,jdbcType=BIGINT},
			</if>
			<if test="signInDays != null">
				#{signInDays,jdbcType=INTEGER},
			</if>
			<if test="awardIntegral != null">
				#{awardIntegral,jdbcType=INTEGER},
			</if>
			<if test="specialAwardType != null">
				#{specialAwardType,jdbcType=INTEGER},
			</if>
			<if test="luckyDrawId != null">
				#{luckyDrawId,jdbcType=BIGINT},
			</if>
			<if test="couponSchemeId != null">
				#{couponSchemeId,jdbcType=BIGINT},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.SignInAwardRule">
		update sign_in_award_rule
		<set>
			<if test="signInActiveId != null">
				sign_in_active_id= #{signInActiveId,jdbcType=BIGINT},
			</if>
			<if test="signInDays != null">
				sign_in_days= #{signInDays,jdbcType=INTEGER},
			</if>
			<if test="awardIntegral != null">
				award_integral= #{awardIntegral,jdbcType=INTEGER},
			</if>
			<if test="specialAwardType != null">
				special_award_type= #{specialAwardType,jdbcType=INTEGER},
			</if>
			<if test="luckyDrawId != null">
				lucky_draw_id= #{luckyDrawId,jdbcType=BIGINT},
			</if>
			<if test="couponSchemeId != null">
				coupon_scheme_id= #{couponSchemeId,jdbcType=BIGINT}
			</if>
		</set>
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from sign_in_award_rule where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from sign_in_award_rule where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from sign_in_award_rule where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sign_in_award_rule where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<select id="querySignInAwardRuleByActiveId" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from sign_in_award_rule where sign_in_active_id = #{signInActiveId}
	</select>
</mapper>
