<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ThirdPartyUserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.ThirdPartyUserInfo" >
    <id column="third_party_id" property="thirdPartyId" jdbcType="BIGINT" />
    <result column="third_party_type" property="thirdPartyType" jdbcType="SMALLINT" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="access_token" property="accessToken" jdbcType="VARCHAR" />
    <result column="expires_in" property="expiresIn" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="session_id" property="sessionId" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="headImgUrl" property="headimgurl" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Where" >
    <if test="thirdPartyId != null" > and third_party_id=#{thirdPartyId} </if>
    <if test="thirdPartyType != null" > and third_party_type=#{thirdPartyType} </if>
    <if test="openId != null" > and open_id=#{openId} </if>
    <if test="accessToken != null" > and access_token=#{accessToken} </if>
    <if test="expiresIn != null" > and expires_in=#{expiresIn} </if>
    <if test="createDate != null" > and create_date=#{createDate} </if>
    <if test="lastUpdateDate != null" > and last_update_date=#{lastUpdateDate} </if>
    <if test="sessionId != null" > and session_id=#{sessionId} </if>
    <if test="nickName != null" > and nick_name=#{nickName} </if>
    <if test="headimgurl != null" > and headImgUrl=#{headimgurl} </if>
    <if test="province != null" > and province=#{province} </if>
    <if test="city != null" > and city=#{city} </if>
    <if test="country != null" > and country=#{country} </if>
    <if test="sex != null" > and sex=#{sex} </if>
  </sql>
  <sql id="Base_Column_List" >
    third_party_id, third_party_type, open_id, access_token, expires_in, refreshToken, 
    create_date, last_update_date, session_id, nick_name, headImgUrl, province, city, 
    country, sex
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from third_party_user_info
    where third_party_id = #{thirdPartyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from third_party_user_info
    where third_party_id = #{thirdPartyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hnair.consumer.user.model.ThirdPartyUserInfo" >
    insert into third_party_user_info (third_party_id, third_party_type, open_id, 
      access_token, expires_in, refreshToken, 
      create_date, last_update_date, session_id, 
      nick_name, headImgUrl, province, 
      city, country, sex)
    values (#{thirdPartyId,jdbcType=BIGINT}, #{thirdPartyType,jdbcType=SMALLINT}, #{openId,jdbcType=VARCHAR}, 
      #{accessToken,jdbcType=VARCHAR}, #{expiresIn,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{lastUpdateDate,jdbcType=TIMESTAMP}, #{sessionId,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{headimgurl,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hnair.consumer.user.model.ThirdPartyUserInfo" >
    insert into third_party_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="thirdPartyId != null" >
        third_party_id,
      </if>
      <if test="thirdPartyType != null" >
        third_party_type,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="accessToken != null" >
        access_token,
      </if>
      <if test="expiresIn != null" >
        expires_in,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date,
      </if>
      <if test="sessionId != null" >
        session_id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="headimgurl != null" >
        headImgUrl,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="sex != null" >
        sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="thirdPartyId != null" >
        #{thirdPartyId,jdbcType=BIGINT},
      </if>
      <if test="thirdPartyType != null" >
        #{thirdPartyType,jdbcType=SMALLINT},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null" >
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null" >
        #{expiresIn,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sessionId != null" >
        #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.ThirdPartyUserInfo" >
    update third_party_user_info
    <set >
      <if test="thirdPartyType != null" >
        third_party_type = #{thirdPartyType,jdbcType=SMALLINT},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null" >
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null" >
        expires_in = #{expiresIn,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sessionId != null" >
        session_id = #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        headImgUrl = #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
    </set>
    where third_party_id = #{thirdPartyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hnair.consumer.user.model.ThirdPartyUserInfo" >
    update third_party_user_info
    set third_party_type = #{thirdPartyType,jdbcType=SMALLINT},
      open_id = #{openId,jdbcType=VARCHAR},
      access_token = #{accessToken,jdbcType=VARCHAR},
      expires_in = #{expiresIn,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      session_id = #{sessionId,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      headImgUrl = #{headimgurl,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR}
    where third_party_id = #{thirdPartyId,jdbcType=BIGINT}
  </update>
  <select id="getAll" resultMap="BaseResultMap" parameterType="map" >
    select <include refid="Base_Column_List" /> from third_party_user_info where 1=1 <include refid="Base_Where" />
  </select>
  <select id="pageCount" resultType="java.lang.Integer" parameterType="map" >
    select count(1) from third_party_user_info where 1=1 <include refid="Base_Where" />
  </select>
  <select id="pageData" resultMap="BaseResultMap" parameterType="map" >
    select <include refid="Base_Column_List" /> from third_party_user_info where 1=1 <include refid="Base_Where" />
  </select>
</mapper>