<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserFeedbackMapper">
	<resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.UserFeedback">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="contact" property="contact" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="SMALLINT" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="phone_brand" property="phoneBrand" jdbcType="VARCHAR" />
		<result column="phone_model" property="phoneModel" jdbcType="VARCHAR" />
		<result column="app_version" property="appVersion" jdbcType="VARCHAR" />
		<result column="device_type" property="deviceType" jdbcType="VARCHAR" />
		<result column="system_os" property="systemOs" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>
		<if test="userName != null and userName !=''"> and user_name= #{userName}</if>
		<if test="userId != null"> and user_id= #{userId}</if>
		<if test="content != null and content !=''"> and content= #{content}</if>
		<if test="contact != null and contact !=''"> and contact= #{contact}</if>
		<if test="createTime != null"> and create_time= #{createTime}</if>
		<if test="status != null"> and status= #{status}</if>
		<if test="type != null and type !=''"> and type= #{type}</if>
		<if test="phoneBrand != null and phoneBrand !=''"> and phone_brand like concat('%',#{phoneBrand},'%')</if>
		<if test="phoneModel != null and phoneModel !=''"> and phone_model like concat('%',#{phoneModel},'%')  </if>
		<if test="appVersion != null and appVersion !=''"> and app_version like concat('%',#{appVersion},'%')</if>
		<if test="deviceType != null and deviceType !=''"> and device_type= #{deviceType}</if>
		<if test="systemOs != null and systemOs !=''"> and system_os like concat('%',#{systemOs},'%') </if>
		<if test="startTime != null and startTime !=''"> and <![CDATA[  create_time >=#{startTime}]]> </if>
		<if test="endTime != null and endTime !=''"> and <![CDATA[  create_time <=#{endTime}]]> </if>

	</sql>
	<sql id="Base_Column_List">
		id ,
		user_name ,
		user_id ,
		content ,
		contact ,
		create_time ,
		status ,
		type ,
		phone_brand ,
		phone_model ,
		app_version ,
		device_type ,
		system_os
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_feedback
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_feedback
		where
		id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.consumer.user.model.UserFeedback">
		insert into user_feedback
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="userName != null and userName !=''">user_name,</if>
			<if test="userId != null">user_id,</if>
			<if test="content != null and content !=''">content,</if>
			<if test="contact != null and contact !=''">contact,</if>
			<if test="createTime != null">create_time,</if>
			<if test="status != null">status,</if>
			<if test="type != null and type !=''">type,</if>
			<if test="phoneBrand != null and phoneBrand !=''">phone_brand,</if>
			<if test="phoneModel != null and phoneModel !=''">phone_model,</if>
			<if test="appVersion != null and appVersion !=''">app_version,</if>
			<if test="deviceType != null and deviceType !=''">device_type,</if>
			<if test="systemOs != null and systemOs !=''">system_os,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userName != null and userName !=''">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="content != null and content !=''">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="contact != null and contact !=''">
				#{contact,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=SMALLINT},
			</if>
			<if test="type != null and type !=''">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="phoneBrand != null and phoneBrand !=''">
				#{phoneBrand,jdbcType=VARCHAR},
			</if>
			<if test="phoneModel != null and phoneModel !=''">
				#{phoneModel,jdbcType=VARCHAR},
			</if>
			<if test="appVersion != null and appVersion !=''">
				#{appVersion,jdbcType=VARCHAR},
			</if>
			<if test="deviceType != null and deviceType !=''">
				#{deviceType,jdbcType=VARCHAR},
			</if>
			<if test="systemOs != null and systemOs !=''">
				#{systemOs,jdbcType=VARCHAR},
			</if>

		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.UserFeedback">
		update user_feedback
		<set>
			<if test="userName != null and userName !=''">
				user_name= #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id= #{userId,jdbcType=BIGINT},
			</if>
			<if test="content != null and content !=''">
				content= #{content,jdbcType=VARCHAR},
			</if>
			<if test="contact != null and contact !=''">
				contact= #{contact,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time= #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status= #{status,jdbcType=SMALLINT},
			</if>
			<if test="type != null and type !=''">
				type= #{type,jdbcType=VARCHAR},
			</if>
			<if test="phoneBrand != null and phoneBrand !=''">
				phone_brand= #{phoneBrand,jdbcType=VARCHAR},
			</if>
			<if test="phoneModel != null and phoneModel !=''">
				phone_model= #{phoneModel,jdbcType=VARCHAR},
			</if>
			<if test="appVersion != null and appVersion !=''">
				app_version= #{appVersion,jdbcType=VARCHAR},
			</if>
			<if test="deviceType != null and deviceType !=''">
				device_type= #{deviceType,jdbcType=VARCHAR},
			</if>
			<if test="systemOs != null and systemOs !=''">
				system_os= #{systemOs,jdbcType=VARCHAR}
			</if>
		</set>
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_feedback where 1=1
		<include refid="Base_Where" /> order by id desc
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from user_feedback where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_feedback where 1=1
		<include refid="Base_Where" /> order by id desc
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_feedback where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach> order by id desc
	</select>

	<delete id="deleteByMap" parameterType="map" >
		delete from user_feedback where 1=1 <include refid="Base_Where" />
	</delete>

	<delete id="deleteByIds"  parameterType="map">
		delete from user_feedback where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<select id="selectByField" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from user_feedback where #{_fieldName} in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach> order by id desc
	</select>

</mapper>
