<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserOrderCountMapper">
	<resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.UserOrderCount">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="flight_order_count" property="flightOrderCount" jdbcType="INTEGER" />
		<result column="hotel_order_count" property="hotelOrderCount" jdbcType="INTEGER" />
		<result column="tourism_order_count" property="tourismOrderCount" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>	
		<if test="userId != null"> and user_id= #{userId}</if>	
		<if test="flightOrderCount != null"> and flight_order_count= #{flightOrderCount}</if>	
		<if test="hotelOrderCount != null"> and hotel_order_count= #{hotelOrderCount}</if>	
		<if test="tourismOrderCount != null"> and tourism_order_count= #{tourismOrderCount}</if>	
	</sql>
	<sql id="Base_Column_List">
		id ,
		user_id ,
		flight_order_count ,
		hotel_order_count ,
		tourism_order_count 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_order_count
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_order_count
		where
		id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.consumer.user.model.UserOrderCount">
		insert into user_order_count
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>	
			<if test="userId != null">user_id,</if>	
			<if test="flightOrderCount != null">flight_order_count,</if>	
			<if test="hotelOrderCount != null">hotel_order_count,</if>	
			<if test="tourismOrderCount != null">tourism_order_count,</if>	
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="flightOrderCount != null">
				#{flightOrderCount,jdbcType=INTEGER},
			</if>
			<if test="hotelOrderCount != null">
				#{hotelOrderCount,jdbcType=INTEGER},
			</if>
			<if test="tourismOrderCount != null">
				#{tourismOrderCount,jdbcType=INTEGER},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.UserOrderCount">
		update user_order_count
		<set>
			<if test="userId != null">
				user_id= #{userId,jdbcType=BIGINT},
			</if>
			<if test="flightOrderCount != null">
				flight_order_count= #{flightOrderCount,jdbcType=INTEGER},
			</if>
			<if test="hotelOrderCount != null">
				hotel_order_count= #{hotelOrderCount,jdbcType=INTEGER},
			</if>
			<if test="tourismOrderCount != null">
				tourism_order_count= #{tourismOrderCount,jdbcType=INTEGER}
			</if>
		</set>
		where
		id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updateByUserId" parameterType="map">
		update user_order_count
		<set>
			<if test="flightOrderCount != null">
				flight_order_count= #{flightOrderCount,jdbcType=INTEGER},
			</if>
			<if test="hotelOrderCount != null">
				hotel_order_count= #{hotelOrderCount,jdbcType=INTEGER},
			</if>
			<if test="tourismOrderCount != null">
				tourism_order_count= #{tourismOrderCount,jdbcType=INTEGER}
			</if>
		</set>
		where
		user_id = #{userId,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_order_count where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from user_order_count where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_order_count where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_order_count where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>
