<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserBrowseHistoryMapper">
	<resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.UserBrowseHistory">
		<id column="browse_id" property="browseId" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="browse_type" property="browseType" jdbcType="SMALLINT" />
		<result column="target_id" property="targetId" jdbcType="BIGINT" />
		<result column="target_type" property="targetType" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="img_path" property="imgPath" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
		<result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
		<result column="departure" property="departure" jdbcType="VARCHAR" />
		<result column="destination" property="destination" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="last_modify_date" property="lastModifyDate" jdbcType="TIMESTAMP" />
		<result column="is_del" property="isDel" jdbcType="SMALLINT" />
	</resultMap>
	<sql id="Base_Where">
		<if test="browseId != null"> and browse_id= #{browseId}</if>	
		<if test="userId != null"> and user_id= #{userId}</if>	
		<if test="browseType != null"> and browse_type= #{browseType}</if>	
		<if test="targetId != null"> and target_id= #{targetId}</if>	
		<if test="targetType != null and targetType !=''"> and target_type= #{targetType}</if>
		<if test="title != null and title !=''"> and title= #{title}</if>
		<if test="remark != null and remark !=''"> and remark= #{remark}</if>
		<if test="imgPath != null and imgPath !=''"> and img_path= #{imgPath}</if>
		<if test="price != null"> and price= #{price}</if>	
		<if test="startDate != null"> and start_date= #{startDate}</if>	
		<if test="endDate != null"> and end_date= #{endDate}</if>	
		<if test="departure != null and departure !=''"> and departure= #{departure}</if>
		<if test="destination != null and destination !=''"> and destination= #{destination}</if>
		<if test="createDate != null"> and create_date= #{createDate}</if>	
		<if test="lastModifyDate != null"> and last_modify_date= #{lastModifyDate}</if>	
		<if test="isDel != null"> and is_del= #{isDel}</if>	
		<if test="idLess != null"><![CDATA[ and browse_id<#{idLess}]]></if>	
		<if test="orderById != null"> order by browse_id desc </if>
		<if test="pageSize != null"> limit #{pageSize}</if>
	</sql>
	<sql id="Base_Column_List">
		browse_id ,
		user_id ,
		browse_type ,
		target_id ,
		target_type ,
		title ,
		remark ,
		img_path ,
		price ,
		start_date ,
		end_date ,
		departure ,
		destination ,
		create_date ,
		last_modify_date ,
		is_del 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_browse_history
		where
		browse_id = #{browseId,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_browse_history
		where
		browse_id = #{browseId,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.consumer.user.model.UserBrowseHistory">
		insert into user_browse_history
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="browseId != null">browse_id,</if>	
			<if test="userId != null">user_id,</if>	
			<if test="browseType != null">browse_type,</if>	
			<if test="targetId != null">target_id,</if>	
			<if test="targetType != null and targetType !=''">target_type,</if>
			<if test="title != null and title !=''">title,</if>
			<if test="remark != null and remark !=''">remark,</if>
			<if test="imgPath != null and imgPath !=''">img_path,</if>
			<if test="price != null">price,</if>	
			<if test="startDate != null">start_date,</if>	
			<if test="endDate != null">end_date,</if>	
			<if test="departure != null and departure !=''">departure,</if>
			<if test="destination != null and destination !=''">destination,</if>
			<if test="createDate != null">create_date,</if>	
			<if test="lastModifyDate != null">last_modify_date,</if>	
			<if test="isDel != null">is_del,</if>	
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="browseId != null">
				#{browseId,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="browseType != null">
				#{browseType,jdbcType=SMALLINT},
			</if>
			<if test="targetId != null">
				#{targetId,jdbcType=BIGINT},
			</if>
			<if test="targetType != null and targetType !=''">
				#{targetType,jdbcType=VARCHAR},
			</if>
			<if test="title != null and title !=''">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark !=''">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="imgPath != null and imgPath !=''">
				#{imgPath,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=DOUBLE},
			</if>
			<if test="startDate != null">
				#{startDate,jdbcType=TIMESTAMP},
			</if>
			<if test="endDate != null">
				#{endDate,jdbcType=TIMESTAMP},
			</if>
			<if test="departure != null and departure !=''">
				#{departure,jdbcType=VARCHAR},
			</if>
			<if test="destination != null and destination !=''">
				#{destination,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyDate != null">
				#{lastModifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="isDel != null">
				#{isDel,jdbcType=SMALLINT},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.UserBrowseHistory">
		update user_browse_history
		<set>
			<if test="userId != null">
				user_id= #{userId,jdbcType=BIGINT},
			</if>
			<if test="browseType != null">
				browse_type= #{browseType,jdbcType=SMALLINT},
			</if>
			<if test="targetId != null">
				target_id= #{targetId,jdbcType=BIGINT},
			</if>
			<if test="targetType != null and targetType !=''">
				target_type= #{targetType,jdbcType=VARCHAR},
			</if>
			<if test="title != null and title !=''">
				title= #{title,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark !=''">
				remark= #{remark,jdbcType=VARCHAR},
			</if>
			<if test="imgPath != null and imgPath !=''">
				img_path= #{imgPath,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				price= #{price,jdbcType=DOUBLE},
			</if>
			<if test="startDate != null">
				start_date= #{startDate,jdbcType=TIMESTAMP},
			</if>
			<if test="endDate != null">
				end_date= #{endDate,jdbcType=TIMESTAMP},
			</if>
			<if test="departure != null and departure !=''">
				departure= #{departure,jdbcType=VARCHAR},
			</if>
			<if test="destination != null and destination !=''">
				destination= #{destination,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date= #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyDate != null">
				last_modify_date= #{lastModifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="isDel != null">
				is_del= #{isDel,jdbcType=SMALLINT}
			</if>
		</set>
		where
		browse_id = #{browseId,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_browse_history where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from user_browse_history where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_browse_history where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_browse_history where browse_id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	
	<update id="updateByUserId" parameterType="com.hnair.consumer.user.model.UserBrowseHistory">
		update user_browse_history
		<set>
			<if test="browseType != null">
				browse_type= #{browseType,jdbcType=SMALLINT},
			</if>
			<if test="targetId != null">
				target_id= #{targetId,jdbcType=BIGINT},
			</if>
			<if test="targetType != null and targetType !=''">
				target_type= #{targetType,jdbcType=VARCHAR},
			</if>
			<if test="title != null and title !=''">
				title= #{title,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark !=''">
				remark= #{remark,jdbcType=VARCHAR},
			</if>
			<if test="imgPath != null and imgPath !=''">
				img_path= #{imgPath,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				price= #{price,jdbcType=DOUBLE},
			</if>
			<if test="startDate != null">
				start_date= #{startDate,jdbcType=TIMESTAMP},
			</if>
			<if test="endDate != null">
				end_date= #{endDate,jdbcType=TIMESTAMP},
			</if>
			<if test="departure != null and departure !=''">
				departure= #{departure,jdbcType=VARCHAR},
			</if>
			<if test="destination != null and destination !=''">
				destination= #{destination,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date= #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyDate != null">
				last_modify_date= #{lastModifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="isDel != null">
				is_del= #{isDel,jdbcType=SMALLINT}
			</if>
		</set>
		where
		user_id = #{userId,jdbcType=BIGINT}
	</update>

</mapper>
