<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserLoginRecordMapper">
	<resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.UserLoginRecord">
		<id column="login_id" property="loginId" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="region" property="region" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="device_id" property="deviceId" jdbcType="VARCHAR" />
		<result column="device_type" property="deviceType" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
		<result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
		<result column="last_login_token" property="lastLoginToken" jdbcType="VARCHAR" />
		<result column="last_login_mac" property="lastLoginMac" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Where">
		<if test="loginId != null"> and login_id= #{loginId}</if>	
		<if test="userId != null"> and user_id= #{userId}</if>	
		<if test="userName != null and userName !=''"> and user_name= #{userName}</if>
		<if test="region != null and region !=''"> and region= #{region}</if>
		<if test="mobile != null and mobile !=''"> and mobile= #{mobile}</if>
		<if test="deviceId != null and deviceId !=''"> and device_id= #{deviceId}</if>
		<if test="deviceType != null and deviceType !=''"> and device_type= #{deviceType}</if>
		<if test="createTime != null"> and create_time= #{createTime}</if>	
		<if test="lastLoginTime != null"> and last_login_time= #{lastLoginTime}</if>	
		<if test="lastLoginIp != null and lastLoginIp !=''"> and last_login_ip= #{lastLoginIp}</if>
		<if test="lastLoginToken != null and lastLoginToken !=''"> and last_login_token= #{lastLoginToken}</if>
		<if test="lastLoginMac != null and lastLoginMac !=''"> and last_login_mac= #{lastLoginMac}</if>
	</sql>
	<sql id="Base_Column_List">
		login_id ,
		user_id ,
		user_name ,
		region,
		mobile ,
		device_id ,
		device_type ,
		create_time ,
		last_login_time ,
		last_login_ip ,
		last_login_token ,
		last_login_mac 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_login_record
		where
		login_id = #{loginId,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_login_record
		where
		login_id = #{loginId,jdbcType=BIGINT}
	</delete>

	<delete id="deleteByToken" parameterType="map">
		delete from user_login_record
		where
		last_login_token = #{lastLoginToken,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="com.hnair.consumer.user.model.UserLoginRecord">
		insert into user_login_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="loginId != null">login_id,</if>	
			<if test="userId != null">user_id,</if>	
			<if test="userName != null and userName !=''">user_name,</if>
			<if test="region != null and region !=''">region,</if>
			<if test="mobile != null and mobile !=''">mobile,</if>
			<if test="deviceId != null and deviceId !=''">device_id,</if>
			<if test="deviceType != null and deviceType !=''">device_type,</if>
			<if test="createTime != null">create_time,</if>	
			<if test="lastLoginTime != null">last_login_time,</if>	
			<if test="lastLoginIp != null and lastLoginIp !=''">last_login_ip,</if>
			<if test="lastLoginToken != null and lastLoginToken !=''">last_login_token,</if>
			<if test="lastLoginMac != null and lastLoginMac !=''">last_login_mac,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="loginId != null">
				#{loginId,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="userName != null and userName !=''">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="region != null and region !=''">
				#{region,jdbcType=VARCHAR},
			</if>	
			<if test="mobile != null and mobile !=''">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="deviceId != null and deviceId !=''">
				#{deviceId,jdbcType=VARCHAR},
			</if>
			<if test="deviceType != null and deviceType !=''">
				#{deviceType,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastLoginTime != null">
				#{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastLoginIp != null and lastLoginIp !=''">
				#{lastLoginIp,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginToken != null and lastLoginToken !=''">
				#{lastLoginToken,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginMac != null and lastLoginMac !=''">
				#{lastLoginMac,jdbcType=VARCHAR},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.UserLoginRecord">
		update user_login_record
		<set>
			<if test="userId != null">
				user_id= #{userId,jdbcType=BIGINT},
			</if>
			<if test="userName != null and userName !=''">
				user_name= #{userName,jdbcType=VARCHAR},
			</if>
			<if test="region != null and region !=''">
				region= #{region,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null and mobile !=''">
				mobile= #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="deviceId != null and deviceId !=''">
				device_id= #{deviceId,jdbcType=VARCHAR},
			</if>
			<if test="deviceType != null and deviceType !=''">
				device_type= #{deviceType,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time= #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastLoginTime != null">
				last_login_time= #{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastLoginIp != null and lastLoginIp !=''">
				last_login_ip= #{lastLoginIp,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginToken != null and lastLoginToken !=''">
				last_login_token= #{lastLoginToken,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginMac != null and lastLoginMac !=''">
				last_login_mac= #{lastLoginMac,jdbcType=VARCHAR}
			</if>
		</set>
		where
		login_id = #{loginId,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_login_record where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from user_login_record where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_login_record where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_login_record where login_id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="getUsersByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_login_record where user_id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>  order by user_id desc
	</select>
	
	<select id="getUsersByTokens" resultMap="BaseResultMap">
		select user_id ,max(last_login_token) last_login_token 
		from user_login_record where last_login_token in
		<foreach item="item" index="index" collection="tokenList" open="(" separator="," close=")">
			#{item}
		</foreach> group by user_id
	</select>
	
	<select id="getAllUsersByTokens" resultMap="BaseResultMap">
		select user_id , last_login_token 
		from user_login_record where last_login_token in
		<foreach item="item" index="index" collection="tokenList" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>	

</mapper>
