<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserIdentityConfirmMapper">
	<resultMap id="BaseResultMap" type="com.hnair.consumer.user.model.UserIdentityConfirm">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="identity_card" property="identityCard" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="if_confirm" property="ifConfirm" jdbcType="SMALLINT" />
		<result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="last_modified_date" property="lastModifiedDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>	
		<if test="userId != null"> and user_id= #{userId}</if>	
		<if test="name != null and name !=''"> and name= #{name}</if>
		<if test="identityCard != null and identityCard !=''"> and identity_card= #{identityCard}</if>
		<if test="phone != null and phone !=''"> and phone= #{phone}</if>
		<if test="ifConfirm != null"> and if_confirm= #{ifConfirm}</if>	
		<if test="photoUrl != null and photoUrl !=''"> and photo_url= #{photoUrl}</if>
		<if test="creator != null and creator !=''"> and creator= #{creator}</if>
		<if test="creationDate != null"> and creation_date= #{creationDate}</if>	
		<if test="modifier != null and modifier !=''"> and modifier= #{modifier}</if>
		<if test="lastModifiedDate != null"> and last_modified_date= #{lastModifiedDate}</if>	
	</sql>
	<sql id="Base_Column_List">
		id ,
		user_id ,
		name ,
		identity_card ,
		phone ,
		if_confirm ,
		photo_url ,
		creator ,
		creation_date ,
		modifier ,
		last_modified_date 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_identity_confirm
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_identity_confirm
		where
		id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.consumer.user.model.UserIdentityConfirm" useGeneratedKeys="true" keyProperty="id">
		insert into user_identity_confirm
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>	
			<if test="userId != null">user_id,</if>	
			<if test="name != null and name !=''">name,</if>
			<if test="identityCard != null and identityCard !=''">identity_card,</if>
			<if test="phone != null and phone !=''">phone,</if>
			<if test="ifConfirm != null">if_confirm,</if>	
			<if test="photoUrl != null and photoUrl !=''">photo_url,</if>
			<if test="creator != null and creator !=''">creator,</if>
			<if test="creationDate != null">creation_date,</if>	
			<if test="modifier != null and modifier !=''">modifier,</if>
			<if test="lastModifiedDate != null">last_modified_date,</if>	
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="name != null and name !=''">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="identityCard != null and identityCard !=''">
				#{identityCard,jdbcType=VARCHAR},
			</if>
			<if test="phone != null and phone !=''">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="ifConfirm != null">
				#{ifConfirm,jdbcType=SMALLINT},
			</if>
			<if test="photoUrl != null and photoUrl !=''">
				#{photoUrl,jdbcType=VARCHAR},
			</if>
			<if test="creator != null and creator !=''">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				#{creationDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null and modifier !=''">
				#{modifier,jdbcType=VARCHAR},
			</if>
			<if test="lastModifiedDate != null">
				#{lastModifiedDate,jdbcType=TIMESTAMP},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.user.model.UserIdentityConfirm">
		update user_identity_confirm
		<set>
			<if test="userId != null">
				user_id= #{userId,jdbcType=BIGINT},
			</if>
			<if test="name != null and name !=''">
				name= #{name,jdbcType=VARCHAR},
			</if>
			<if test="identityCard != null and identityCard !=''">
				identity_card= #{identityCard,jdbcType=VARCHAR},
			</if>
			<if test="phone != null and phone !=''">
				phone= #{phone,jdbcType=VARCHAR},
			</if>
			<if test="ifConfirm != null">
				if_confirm= #{ifConfirm,jdbcType=SMALLINT},
			</if>
			<if test="photoUrl != null and photoUrl !=''">
				photo_url= #{photoUrl,jdbcType=VARCHAR},
			</if>
			<if test="creator != null and creator !=''">
				creator= #{creator,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				creation_date= #{creationDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null and modifier !=''">
				modifier= #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="lastModifiedDate != null">
				last_modified_date= #{lastModifiedDate,jdbcType=TIMESTAMP}
			</if>
		</set>
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_identity_confirm where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from user_identity_confirm where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_identity_confirm where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_identity_confirm where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>
